.main{
    background-color: rgb(255, 215, 106);
    color: black;
    font-family: 'popins', sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
    font-size: 20px;
}
.achievements{
    background-color: rgb(255, 215, 106);
}
.achievements__text{
    width: 100%;
    justify-content: left;
}
.desc{
    width: 100%;
}
.desc__list{
    display: grid;
    justify-content: left;
    gap: 15px;
    list-style: none;
    width: 1000px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}
.pass{
    width: 100%;
}
.pass__text{
    width: 100%;
    justify-content: left;
}
.choice__data{
    text-decoration: none;
    list-style: none;
}
.choice__name{
    text-decoration: none;
    list-style: none;
}
.choice__slider{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}
.choice__list {
    text-decoration: none;
    width: 1350px;
    margin-top: 60px;
    display: flex;
    gap: 40px;
    overflow: hidden;
    align-items: end;
}
.choice__img {
    width: 400px;
    height: 200px;

}
.choice__item {
    text-decoration: none;
    width: 360px;
    transition: 0.3s ease; 
   }
.choice__button{
    padding:150px 20px;
}
